.clients {
  @include section;

  &__title {
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
    }
  }

  &__list {
    @extend %reset-list;
    display: flex;
    flex-wrap: wrap;
    gap: $indent;
  }

  &__item {
    @extend %reset-list;
    @include flex-basis($indent, 2);

    @media screen and (min-width: $tablet) {
      @include flex-basis($indent, 4);
    }

    @media screen and (min-width: $desktop) {
      @include flex-basis($indent, 6);
    }
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  max-width: 226px;
  padding-top: 14px;
  padding-bottom: 14px;

  border: 1px solid var(--icon-cl);
  border-radius: 4px;
  color: var(--icon-cl);

  transition: color var(--animation), border-color var(--animation);

  @media screen and (min-width: $mobile) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media screen and (min-width: $tablet) {
    padding-left: 58px;
    padding-right: 58px;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 30px;
    padding-right: 30px;
  }

  &:hover {
    color: var(--accent-cl);
    border-color: var(--accent-cl);
  }
}
