.header {
  // position: relative;
  // background-color: var(--main-light);
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    @media screen and (max-width: calc($tablet - 1px)) {
      display: inline-flex;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    @media screen and (min-width: $tablet) {
      margin-right: 88px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 93px;
    }
  }

  // &__nav {
  //   @media screen and (min-width: $tablet) {
  //     margin-right: auto;
  //   }
  // }

  &__list {
    @extend %reset-list;

    //   @media screen and (min-width: $tablet) {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 10px;
    //   }

    //   @media screen and (min-width: $desktop) {
    //     display: flex;
    //     flex-direction: row;
    //     gap: 30px;
    //   }
    // }

    // &__item {
    //   display: flex;
    // }

    // &__icon {
    //   margin-right: 10px;
  }
}

.header__link {
  @extend %reset-link;
  @include fonts(14px, 16px, 500, 0.02em);
  //   display: flex;
  //   align-items: center;

  //   @include fonts(14px, 16px, 500, 0.02em);
  //   color: var(--secondary-font-cl);

  //   transition: color var(--animation);

  //   &:hover,
  //   &:focus {
  //     color: var(--accent-cl);
  //   }
}
