.portfolio {
  @include section;

  &__filter {
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
    }
  }

  &__list {
    @extend %reset-list;
    --items: 1;

    @media screen and (min-width: $tablet) {
      --items: 2;
    }
    @media screen and (min-width: $desktop) {
      --items: 3;
    }
  }
}
